In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Australia_Grocery_2022Sep.csv")

In [5]:
df.head()

,index,Postal_code,Category,Sub_category,Product_Group,Product_Name,Package_price,Price_per_unit,package_size,is_estimated,...,Retail_price,Product_Url,Brand,Sku,RunDate,unit_price,unit_price_unit,state,city,tid
0,0,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Necks,7.15,$6.50 per 1Kg,approx. 1.1kg,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1491280P,2022-11-09 08:23:06,6.50,1Kg,NSW,TEMPE,29742568
1,1,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Livers,5.40,$9.00 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1718058P,2022-11-09 08:23:06,9.00,1Kg,NSW,TEMPE,29742569
2,2,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Giblets,4.50,$7.50 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,2565429P,2022-11-09 08:23:06,7.50,1Kg,NSW,TEMPE,29742570
3,3,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Frames,3.38,$4.50 per 1Kg,approx. 750g each,1,...,4.13,https://shop.coles.com.au/a/alexandria/product...,Coles,3199541P,2022-11-09 08:23:06,4.50,1Kg,NSW,TEMPE,29742571
4,4,2044,Meat & seafood,Poultry,Crumbed chicken,RSPCA Chicken Schnitzel Plain Crumb,10.50,$8.75 per 1Kg,1.2kg,0,...,11.00,https://shop.coles.com.au/a/alexandria/product...,Coles,2904193P,2022-11-09 08:23:06,8.75,1Kg,NSW,TEMPE,29742572

In [41]:
df.shape

(488640, 22)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488640 entries, 0 to 488639
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   index            488640 non-null  int64
 1   Postal_code      488640 non-null  int64
 2   Category         488640 non-null  object
 3   Sub_category     488640 non-null  object
 4   Product_Group    488640 non-null  object
 5   Product_Name     488640 non-null  object
 6   Package_price    487313 non-null  float64
 7   Price_per_unit   485498 non-null  object
 8   package_size     487869 non-null  object
 9   is_estimated     488640 non-null  int64
 10  is_special       488640 non-null  int64
 11  in_stock         36454 non-null   object
 12  Retail_price     136953 non-null  float64
 13  Product_Url      488640 non-null  object
 14  Brand            488640 non-null  object
 15  Sku              488640 non-null  object
 16  RunDate          488640 non-null  object
 17  unit_price       485498 non-null  float64
 18  unit_price_unit  485498 non-null  object
 19  state            488640 non-null  object
 20  city             488640 non-null  object
 21  tid              488640 non-null  int64
dtypes: float64(3), int64(5), object(14)
memory usage: 82.0+ MB

In [45]:
df.isna().sum().sort_values(ascending=False)

in_stock           452186
Retail_price       351687
Price_per_unit       3142
Package_price        1327
package_size          771
index                   0
Product_Name            0
Product_Group           0
Sub_category            0
Category                0
Postal_code             0
is_estimated            0
is_special              0
Product_Url             0
Brand                   0
Sku                     0
RunDate                 0
unit_price              0
unit_price_unit         0
state                   0
city                    0
tid                     0
dtype: int64

In [12]:
df_mean = df.isna().mean()*100.00
df_mean.sort_values(ascending=False)

in_stock           92.539702
Retail_price       71.972618
unit_price          0.643009
Price_per_unit      0.643009
unit_price_unit     0.643009
Package_price       0.271570
package_size        0.157785
Product_Group       0.000000
Product_Name        0.000000
Category            0.000000
Postal_code         0.000000
index               0.000000
Sub_category        0.000000
is_estimated        0.000000
Product_Url         0.000000
is_special          0.000000
Sku                 0.000000
Brand               0.000000
RunDate             0.000000
state               0.000000
city                0.000000
tid                 0.000000
dtype: float64

In [17]:
y = df.drop(columns=['in_stock','retail_price'])

In [19]:
y.columns

Index(['index', 'postal_code', 'category', 'sub_category', 'product_group',
       'product_name', 'package_price', 'price_per_unit', 'package_size',
       'is_estimated', 'is_special', 'product_url', 'brand', 'sku', 'rundate',
       'unit_price', 'unit_price_unit', 'state', 'city', 'tid'],
      dtype='object')

In [83]:
print(df.duplicated().count())

488640

In [85]:
x = df.drop_duplicates(keep='first')

In [86]:
x.shape

(488640, 23)

In [37]:
df.columns

Index(['index', 'Postal_code', 'Category', 'Sub_category', 'Product_Group',
       'Product_Name', 'Package_price', 'Price_per_unit', 'package_size',
       'is_estimated', 'is_special', 'in_stock', 'Retail_price', 'Product_Url',
       'Brand', 'Sku', 'RunDate', 'unit_price', 'unit_price_unit', 'state',
       'city', 'tid', 'full_form'],
      dtype='object')

In [5]:
df.rename(columns={
    'index': 'index',
    'Postal_code': 'postal_code',
    'Category': 'category',
    'Sub_category': 'sub_category',
    'Product_Group': 'product_group',
    'Product_Name': 'product_name',
    'Package_price': 'package_price',
    'Price_per_unit': 'price_per_unit',
    'package_size': 'package_size',
    'is_estimated': 'is_estimated',
    'is_special': 'is_special',
    'in_stock': 'in_stock',
    'Retail_price': 'retail_price',
    'Product_Url': 'product_url',
    'Brand': 'brand',
    'Sku': 'sku',
    'RunDate': 'rundate',
    'unit_price': 'unit_price',
    'unit_price_unit': 'unit_price_unit',
    'state': 'state',
    'city': 'city',
    'tid': 'tid',
}, inplace=True)

In [5]:
df.columns

Index(['index', 'postal_code', 'category', 'sub_category', 'product_group',
       'product_name', 'package_price', 'price_per_unit', 'package_size',
       'is_estimated', 'is_special', 'in_stock', 'retail_price', 'product_url',
       'brand', 'sku', 'rundate', 'unit_price', 'unit_price_unit', 'state',
       'city', 'tid'],
      dtype='object')

In [12]:
df.iloc[:,1:5]

        Postal_code        Category   Sub_category       Product_Group
0              2044  Meat & seafood        Poultry       Chicken offal
1              2044  Meat & seafood        Poultry       Chicken offal
2              2044  Meat & seafood        Poultry       Chicken offal
3              2044  Meat & seafood        Poultry       Chicken offal
4              2044  Meat & seafood        Poultry     Crumbed chicken
...             ...             ...            ...                 ...
488635         9601          Drinks  Coffee Drinks  Accessories Coffee
488636         9601          Drinks  Coffee Drinks  Accessories Coffee
488637         9601          Drinks  Coffee Drinks  Accessories Coffee
488638         9601          Drinks  Coffee Drinks  Accessories Coffee
488639         9601          Drinks  Coffee Drinks  Accessories Coffee

[488640 rows x 4 columns]

In [45]:
df.category.unique()

array(['Meat & seafood', 'Fruit & vegetables', 'Dairy, eggs & fridge',
       'Bakery', 'Pantry', 'Drinks'], dtype=object)

In [44]:
print(df['category'].value_counts()[['Dairy, eggs & fridge','Drinks']])

category
Dairy, eggs & fridge    67745
Drinks                  64883
Name: count, dtype: int64

In [13]:
df.iloc[:,6:10]

        Package_price   Price_per_unit       package_size  is_estimated
0                7.15    $6.50 per 1Kg      approx. 1.1kg             1
1                5.40    $9.00 per 1Kg       approx. 600g             1
2                4.50    $7.50 per 1Kg       approx. 600g             1
3                3.38    $4.50 per 1Kg  approx. 750g each             1
4               10.50    $8.75 per 1Kg              1.2kg             0
...               ...              ...                ...           ...
488635           4.00  $1.60 per 100mL              250mL             0
488636           5.00  $3.33 per 100mL              150mL             0
488637           3.00    $0.08 per 1Ea             1 pack             0
488638          99.00   $99.00 per 1Ea             1 each             0
488639          17.00   $3.40 per 100G               500g             0

[488640 rows x 4 columns]

In [14]:
df.iloc[:,11:16]

,in_stock,Retail_price,Product_Url,Brand,Sku
0,NaN,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1491280P
1,NaN,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1718058P
2,NaN,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,2565429P
3,NaN,4.13,https://shop.coles.com.au/a/alexandria/product...,Coles,3199541P
4,NaN,11.00,https://shop.coles.com.au/a/alexandria/product...,Coles,2904193P
...,...,...,...,...,...
488635,NaN,NaN,https://shop.coles.com.au/a/canberra-civic/pro...,Coles,3209077P
488636,NaN,NaN,https://shop.coles.com.au/a/canberra-civic/pro...,Nestle,8987047P
488637,NaN,NaN,https://shop.coles.com.au/a/canberra-civic/pro...,Harris,47955P
488638,NaN,NaN,https://shop.coles.com.au/a/canberra-civic/pro...,L'OR,5745722P
488639,NaN,NaN,https://shop.coles.com.au/a/canberra-civic/pro...,Lavazza,3515222P

In [104]:
df[df.sku.duplicated()][['category','sub_category','sku']]

              category   sub_category       sku
96      Meat & seafood    Beef & veal  3855286P
97      Meat & seafood    Beef & veal  3855275P
98      Meat & seafood    Beef & veal  2023700P
100     Meat & seafood    Beef & veal  2024280P
110     Meat & seafood    Beef & veal  3331172P
...                ...            ...       ...
488635          Drinks  Coffee Drinks  3209077P
488636          Drinks  Coffee Drinks  8987047P
488637          Drinks  Coffee Drinks    47955P
488638          Drinks  Coffee Drinks  5745722P
488639          Drinks  Coffee Drinks  3515222P

[480548 rows x 3 columns]

In [15]:
df.iloc[:,17:]

,unit_price,unit_price_unit,state,city,tid
0,6.50,1Kg,NSW,TEMPE,29742568
1,9.00,1Kg,NSW,TEMPE,29742569
2,7.50,1Kg,NSW,TEMPE,29742570
3,4.50,1Kg,NSW,TEMPE,29742571
4,8.75,1Kg,NSW,TEMPE,29742572
...,...,...,...,...,...
488635,1.60,100mL,ACT,CANBERRA CIVIC DOORDASH DUMMY,30231203
488636,3.33,100mL,ACT,CANBERRA CIVIC DOORDASH DUMMY,30231204
488637,0.08,1Ea,ACT,CANBERRA CIVIC DOORDASH DUMMY,30231205
488638,99.00,1Ea,ACT,CANBERRA CIVIC DOORDASH DUMMY,30231206
488639,3.40,100G,ACT,CANBERRA CIVIC DOORDASH DUMMY,30231207

In [55]:
np.sort(df.state.unique())

array(['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'], dtype=object)

In [36]:
df['full_form'] = df.state.replace({
'NSW': 'New South Wales',
'ACT': 'Australian Capital Territory',
'VIC': 'Victoria',
'QLD': 'Queensland',
'SA': 'South Australia',
'WA': 'Western Australia',
'TAS': 'Tasmania',
'NT': 'Northern Territory'})

In [56]:
np.sort(df.city.unique())

array(['ALBANY', 'BAINES', 'BAROSSA GOLDFIELDS',
       'BELCONNEN DOORDASH DUMMY', 'BELMONT', 'BEN BUCKLER', 'BIGGS FLAT',
       'BONOGIN', 'BRISBANE', 'BRUNSWICK', 'BURNIE',
       'BUSSELTON DOOR DASH DUMMY', 'CANBERRA CIVIC DOORDASH DUMMY',
       'CANTERBURY', 'CONDER', 'COSTELLO', 'COTTESLOE', 'CURTIN',
       'DARWIN CITY', 'DEVONPORT', 'EAST MELBOURNE', 'EDEN HILLS',
       'FRANKLIN', 'GASCOYNE RIVER', 'GIBSON DESERT SOUTH', 'GYMEA BAY',
       'HAMILTON SOUTH', 'HDPORTSORELLPORT', 'HECKENBERG', 'HERSTON',
       'HOBART', 'ILLAWONG', 'ILPARPA', 'JUNCTION DD DUMMY', 'KALAMUNDA',
       'KALEEN', 'LAKEMBA', 'LAUNCESTON', 'LIGHT PASS', 'MACQUARIE',
       'MANUKA', 'MENAI', 'MOUNT MELVILLE', 'NEW FARM', 'NORTH PERTH',
       'OAKLANDS PARK', 'ONKAPARINGA HILLS', 'PALKAGEE', 'PERTH',
       'PETRIE TERRACE', 'ROCKINGHAM', 'ROSETOWN', 'ROSNY',
       'SEACLIFF PARK', 'SEASWIFT', 'SERPENTINE', 'SEVENTEEN MILE ROCKS',
       'SHERWOOD', 'SORELL', 'SOUTH LAUNCESTON', 'SOUTH MELBOURNE',
       'ST LUCIA', 'STIRLING', 'SUNNYBANK HILLS BULK', 'SURFERS PARADISE',
       'SWAN HILL', 'TEMPE', 'ULVERSTONE TO MEADOW MEWS TEMPZONE 2',
       'WEST LAUNCESTON', 'WODEN', 'YARRA JUNCTION', 'YARRAGON',
       'YARRAVILLE DOORDASH DUMMY', 'YARRAVILLE WEST'], dtype=object)

In [49]:
df.city.value_counts()[[
'YARRAVILLE DOORDASH DUMMY',
'HDPORTSORELLPORT',
'BUSSELTON DOOR DASH DUMMY',
'JUNCTION DD DUMMY',
'BELCONNEN DOORDASH DUMMY',
'CANBERRA CIVIC DOORDASH DUMMY',
'ULVERSTONE TO MEADOW MEWS TEMPZONE 2']]

city
YARRAVILLE DOORDASH DUMMY               6949
HDPORTSORELLPORT                        6250
BUSSELTON DOOR DASH DUMMY               6414
JUNCTION DD DUMMY                       6904
BELCONNEN DOORDASH DUMMY                6622
CANBERRA CIVIC DOORDASH DUMMY           6487
ULVERSTONE TO MEADOW MEWS TEMPZONE 2    6096
Name: count, dtype: int64

In [32]:
df.loc[df.city.isin(['YARRAVILLE DOORDASH DUMMY',
'HDPORTSORELLPORT',
'BUSSELTON DOOR DASH DUMMY',
'JUNCTION DD DUMMY',
'BELCONNEN DOORDASH DUMMY',
'CANBERRA CIVIC DOORDASH DUMMY']),'city']

337569        YARRAVILLE DOORDASH DUMMY
337570        YARRAVILLE DOORDASH DUMMY
337571        YARRAVILLE DOORDASH DUMMY
337572        YARRAVILLE DOORDASH DUMMY
337576        YARRAVILLE DOORDASH DUMMY
                      ...
488635    CANBERRA CIVIC DOORDASH DUMMY
488636    CANBERRA CIVIC DOORDASH DUMMY
488637    CANBERRA CIVIC DOORDASH DUMMY
488638    CANBERRA CIVIC DOORDASH DUMMY
488639    CANBERRA CIVIC DOORDASH DUMMY
Name: city, Length: 39626, dtype: object

In [46]:
df.loc[df.city.isin([
    'YARRAVILLE DOORDASH DUMMY',
    'HDPORTSORELLPORT',
    'BUSSELTON DOOR DASH DUMMY',
    'JUNCTION DD DUMMY',
    'BELCONNEN DOORDASH DUMMY',
    'CANBERRA CIVIC DOORDASH DUMMY'
]), ['city', 'state', 'postal_code']]

                                 city state  postal_code
337569      YARRAVILLE DOORDASH DUMMY   VIC         9013
337570      YARRAVILLE DOORDASH DUMMY   VIC         9013
337571      YARRAVILLE DOORDASH DUMMY   VIC         9013
337572      YARRAVILLE DOORDASH DUMMY   VIC         9013
337576      YARRAVILLE DOORDASH DUMMY   VIC         9013
...                               ...   ...          ...
488635  CANBERRA CIVIC DOORDASH DUMMY   ACT         9601
488636  CANBERRA CIVIC DOORDASH DUMMY   ACT         9601
488637  CANBERRA CIVIC DOORDASH DUMMY   ACT         9601
488638  CANBERRA CIVIC DOORDASH DUMMY   ACT         9601
488639  CANBERRA CIVIC DOORDASH DUMMY   ACT         9601

[39626 rows x 3 columns]

In [71]:
df.loc[df.city.isin([
    'YARRAVILLE DOORDASH DUMMY',
    'Hdportsorellport',
    'BUSSELTON DOOR DASH DUMMY',
    'JUNCTION DD DUMMY',
    'BELCONNEN DOORDASH DUMMY',
    'CANBERRA CIVIC DOORDASH DUMMY'
]), ['city', 'state', 'postal_code']].drop_duplicates()

                    city state  postal_code
343102  Hdportsorellport   TAS         9010

In [74]:
df.city.value_counts()['Brisbane']

np.int64(13042)

In [47]:
np.sort(df.postal_code.unique())

array([ 800,  852,  870,  872, 2026, 2044, 2168, 2193, 2195, 2227, 2234,
       2303, 2906, 2913, 3002, 3013, 3797, 3823, 4000, 4005, 4006, 4067,
       4073, 4075, 4109, 4213, 4217, 5046, 5049, 5050, 5152, 5153, 5163,
       5275, 5351, 5355, 5670, 6000, 6006, 6011, 6076, 6125, 6168, 6330,
       6705, 7000, 7249, 7250, 7315, 9010, 9013, 9018, 9056, 9140, 9172,
       9205, 9216, 9217, 9250, 9310, 9320, 9330, 9585, 9601, 9603, 9605,
       9606, 9611, 9614, 9617])

In [73]:
df.replace({'city':{'ULVERSTONE TO MEADOW MEWS TEMPZONE 2':'Ulverstone',
                    'JUNCTION DD DUMMY': 'Junction',
                    'YARRAVILLE DOORDASH DUMMY': 'Yarrraville',
                    'BUSSELTON DOOR DASH DUMMY': 'Busselton',
                    'BELCONNEN DOORDASH DUMMY': 'Belconnen',
                    'CANBERRA CIVIC DOORDASH DUMMY': 'Canberra',
                    'Hdportsorellport': 'Brisbane'}, 
            'postal_code':{9315: 7315}}, inplace=True)

In [39]:
df.loc[df.city=='Junction', 'state'] = 'NSW'

In [54]:
df['city'] = df.city.str.title()

In [42]:
df.city

0            Tempe
1            Tempe
2            Tempe
3            Tempe
4            Tempe
            ...
488635    Canberra
488636    Canberra
488637    Canberra
488638    Canberra
488639    Canberra
Name: city, Length: 488640, dtype: object

In [56]:
df.loc[df.state=='TAS',['city','postal_code']].drop_duplicates()

                    city  postal_code
282270            Hobart         7000
287084   West Launceston         7250
296065  South Launceston         7249
343102  Hdportsorellport         9010
355681             Rosny         9018
368406            Sorell         9172
392948        Launceston         9250
399181         Devonport         9310
405475        Ulverstone         7315
417262            Burnie         9320

In [68]:
np.sort(df.city.unique())

array(['Albany', 'Baines', 'Barossa Goldfields', 'Belconnen', 'Belmont',
       'Ben Buckler', 'Biggs Flat', 'Bonogin', 'Brisbane', 'Brunswick',
       'Burnie', 'Busselton', 'Canberra', 'Canterbury', 'Conder',
       'Costello', 'Cottesloe', 'Curtin', 'Darwin City', 'Devonport',
       'East Melbourne', 'Eden Hills', 'Franklin', 'Gascoyne River',
       'Gibson Desert South', 'Gymea Bay', 'Hamilton South',
       'Hdportsorellport', 'Heckenberg', 'Herston', 'Hobart', 'Illawong',
       'Ilparpa', 'Junction', 'Kalamunda', 'Kaleen', 'Lakemba',
       'Launceston', 'Light Pass', 'Macquarie', 'Manuka', 'Menai',
       'Mount Melville', 'New Farm', 'North Perth', 'Oaklands Park',
       'Onkaparinga Hills', 'Palkagee', 'Perth', 'Petrie Terrace',
       'Rockingham', 'Rosetown', 'Rosny', 'Seacliff Park', 'Seaswift',
       'Serpentine', 'Seventeen Mile Rocks', 'Sherwood', 'Sorell',
       'South Launceston', 'South Melbourne', 'St Lucia', 'Stirling',
       'Sunnybank Hills Bulk', 'Surfers Paradise', 'Swan Hill', 'Tempe',
       'Ulverstone', 'West Launceston', 'Woden', 'Yarra Junction',
       'Yarragon', 'Yarraville West', 'Yarrraville'], dtype=object)

In [80]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
488635    False
488636    False
488637    False
488638    False
488639    False
Length: 488640, dtype: bool

In [87]:
df.columns

Index(['index', 'postal_code', 'category', 'sub_category', 'product_group',
       'product_name', 'package_price', 'price_per_unit', 'package_size',
       'is_estimated', 'is_special', 'in_stock', 'retail_price', 'product_url',
       'brand', 'sku', 'rundate', 'unit_price', 'unit_price_unit', 'state',
       'city', 'tid', 'full_form'],
      dtype='object')

In [79]:
df.shape

(488640, 23)

In [89]:
df1 = df.loc[:,~df.columns.isin(['in_stock','retail_price'])]

In [90]:
df1.shape

(488640, 21)

In [6]:
df.head()

,index,postal_code,category,sub_category,product_group,product_name,package_price,price_per_unit,package_size,is_estimated,...,retail_price,product_url,brand,sku,rundate,unit_price,unit_price_unit,state,city,tid
0,0,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Necks,7.15,$6.50 per 1Kg,approx. 1.1kg,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1491280P,2022-11-09 08:23:06,6.50,1Kg,NSW,TEMPE,29742568
1,1,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Livers,5.40,$9.00 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1718058P,2022-11-09 08:23:06,9.00,1Kg,NSW,TEMPE,29742569
2,2,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Giblets,4.50,$7.50 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,2565429P,2022-11-09 08:23:06,7.50,1Kg,NSW,TEMPE,29742570
3,3,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Frames,3.38,$4.50 per 1Kg,approx. 750g each,1,...,4.13,https://shop.coles.com.au/a/alexandria/product...,Coles,3199541P,2022-11-09 08:23:06,4.50,1Kg,NSW,TEMPE,29742571
4,4,2044,Meat & seafood,Poultry,Crumbed chicken,RSPCA Chicken Schnitzel Plain Crumb,10.50,$8.75 per 1Kg,1.2kg,0,...,11.00,https://shop.coles.com.au/a/alexandria/product...,Coles,2904193P,2022-11-09 08:23:06,8.75,1Kg,NSW,TEMPE,29742572

In [21]:
df.groupby('sub_category')['brand'].count()

sub_category
Beef & veal                       6461
Breakfast                        34275
Cheese                           33628
Chips, crackers & snacks         96581
Coffee                           23616
Coffee Drinks                    23756
Confectionery                    51574
Dairy                            20484
Eggs                              1845
Energy drinks                     3755
Fruit                             6073
Jams, honey & spreads            16584
Lamb                              2985
Milk                             11788
Mince                             1349
Oils & vinegars                  11153
Packaged Breads                   8406
Packaged Cakes & Sweet Treats     8413
Pork                              3475
Poultry                           9136
Sauces                           34982
Seafood                           9268
Soft drinks                      18807
Sports drinks                     2890
Tea                              15648
Tea Drinks                       15675
Vegetables                       16033
Name: brand, dtype: int64

In [11]:
summary = df.groupby('sub_category')['brand'].count().reset_index(name='count')

# summary['percent'] = (summary['count'] / summary['count'].sum()) * 100
print(summary)

                     sub_category  count
0                     Beef & veal   6461
1                       Breakfast  34275
2                          Cheese  33628
3        Chips, crackers & snacks  96581
4                          Coffee  23616
5                   Coffee Drinks  23756
6                   Confectionery  51574
7                           Dairy  20484
8                            Eggs   1845
9                   Energy drinks   3755
10                          Fruit   6073
11          Jams, honey & spreads  16584
12                           Lamb   2985
13                           Milk  11788
14                          Mince   1349
15                Oils & vinegars  11153
16                Packaged Breads   8406
17  Packaged Cakes & Sweet Treats   8413
18                           Pork   3475
19                        Poultry   9136
20                         Sauces  34982
21                        Seafood   9268
22                    Soft drinks  18807
23                  Sports drinks   2890
24                            Tea  15648
25                     Tea Drinks  15675
26                     Vegetables  16033

In [25]:
df.groupby('sub_category', as_index=False).agg(total=('brand','count'))

# x.agg(average=('total','mean')).sort_values(by=['total'],ascending=False)

                     sub_category  total
0                     Beef & veal   6461
1                       Breakfast  34275
2                          Cheese  33628
3        Chips, crackers & snacks  96581
4                          Coffee  23616
5                   Coffee Drinks  23756
6                   Confectionery  51574
7                           Dairy  20484
8                            Eggs   1845
9                   Energy drinks   3755
10                          Fruit   6073
11          Jams, honey & spreads  16584
12                           Lamb   2985
13                           Milk  11788
14                          Mince   1349
15                Oils & vinegars  11153
16                Packaged Breads   8406
17  Packaged Cakes & Sweet Treats   8413
18                           Pork   3475
19                        Poultry   9136
20                         Sauces  34982
21                        Seafood   9268
22                    Soft drinks  18807
23                  Sports drinks   2890
24                            Tea  15648
25                     Tea Drinks  15675
26                     Vegetables  16033

In [26]:
df['postal_code'].agg(['sum','mean'])

sum     2.734374e+09
mean    5.595886e+03
Name: postal_code, dtype: float64